@import url('https://fonts.googleapis.com/css?family=KoHo:400,800');
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fdfdfd; 
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    font-family: 'KoHo', sans-serif;
    font-size: 14px;
    color: #2d2d2d;
    position: relative;
    text-align: center;
}

button, input[type=text], input[type=password] {
    font-family: 'KoHo', sans-serif;
}
.hero {
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p {
    font-size: 1.2em;
}
header {
    font-size: .8em;
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    color: #2d2d2d;
    padding: .4em 3em;
}

header a {
    color: #FD5200;
}

header h3 {
    margin: 0 1em !important;
    width: 100%;
    margin: 1em;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

header h2 {
    width: 100%;
    margin: .5em;
    display: flex;
    justify-content: flex-start;
}


h1 {
    font-size: 5em;
    color: #FD5200;
}
h2  {
    color: #FD5200;
}
.cap {
    margin: 0;
    font-weight: 800;
    text-transform: capitalize;
    color: #FD5200 !important;
}

main {
    position: relative;
    display: block;
    max-width: 80em;
    margin: 0 auto;
    padding: 6em 0;
}

.logbox {
    padding: 1em 2em;
    max-width: 25em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.logbox h2 {
    margin: 1.25em auto;
}
.inputs {
    padding: .75em;
    max-width: 20em;
    margin: 0 auto;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2em auto;
    border-bottom: 1px solid #214e572f;
    transition: all 200ms ease-out;
}
.date {
    display: block;
}

.label_mini {
    display: block;
    text-align: left;
    font-size: .8em;
    width: 100%;
    padding: 0 2em;
}

button {
    font-size: 1em;
    background: #FD5200dd;
    border-radius: 2em;
    padding: .5em 2em;
    border: none;
    color: #fff;
    transition: background 178ms ease-out;
    margin-top: 2em;
    cursor: pointer;

}
button .fas {
    color: #fff;
}

button:focus {
    outline: none;
}
button:hover {
    background: #FD5200;

}
input[type=text], input[type=password], input[type=date], select {
    font-size: 1em;
    padding: .5em 1em;
    background: none;
    border: none;
    color: #2d2d2d;
    transition: all 200ms ease-out;

}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

.field:hover {
    border-bottom: 1px solid #214e57af;

}
::placeholder {
    color: #2d2d2d88;
}

footer {
    margin-top: 3em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #4a4d4a;
    font-size: .6em;
    padding: .4em;
    
}
footer h2 {
    color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: 400;
}

.logbox a {
    color: #FD5200;
}

.error {
    max-width: 17em;
	position: relative;
    color: #333;
    margin: 0 auto .5em auto;
}

.error .fas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .5em;
}
.fas, .far {
    color: #FD5200;
    margin-right: .5em;
}
.redir {
    text-align: center;
}


.cta {
    font-size: .8em;
    background: #FD5200bb;
    border-radius: 2em;
    padding: .2em .75em;
    border: none;
    color: #fff;
    transition: background 178ms ease-out;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
}

.cta:hover {
    background: #FD5200;
}

.link {
    display: inline;
    margin: 0;
    padding: 0;
    background: none;
    color: #FD5200 !important;
    text-decoration: underline;
}
.link:hover {
    background: none;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 60em;
    margin: 0 auto;
    width: 100% !important;
    overflow: hidden;
    box-shadow: 0 .5em 2em #04040406;
    grid-row-gap: 1em;
}
.grid .logbox {
    max-width: 100%;
    background: #fff;
}
#hotel_image {
    position: relative;
    background-image: url('../assets/lsb.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 178ms ease-in-out;
    min-height: 35em;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4b4b4bca;
    transition: all 178ms ease-in-out;
    z-index: 0;
    opacity: 1;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hotel_desc {
    font-size: .7em;
    position: relative;
    background: #FD5200dd;
    padding: .618em 1.4em;
    text-align: center;
    z-index: 10;
    width: fit-content;
    margin: 0 auto;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
.hotel_desc h2 {
    color: #fff;
    margin: 0;
    font-weight: 400;
}

#hotel_image:hover .overlay {
    background: #4d4d4def;
    opacity: 1;
}
#hotel_image:hover .stars {
    opacity: 1;
}
select, input[type="date"] {
    outline: 1px solid #FD520000;
    transition: all 158ms ease-out;
    outline-offset: -3px;

}
select:focus, input[type="date"]:focus {
    outline: 1px solid #FD5200bb;
}

.hidden {
    display: none;
}
.stars {
    color: #fff;
    font-size: 1.4em;
    white-space: nowrap;
    transition: all 278ms cubic-bezier(.46,.29,.41,1);
    opacity: .2;
}
.stars .fas, .stars .far {
    color: #fff;
    margin: 0 .05em;
}

.hotel_blurb {
    color: #fff;
    margin: 2em auto;

}
.conf_grid {
    box-shadow: none !important;
    max-width: 50em; 
    grid-template-columns: 1fr 3fr !important;
    padding: 2em;
}
.conf_title {
    background: #4b4b4baa;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    color: #fff;
    padding: .5em 1em;
    white-space: nowrap;
    text-align: left;
}
.conf_data {
    background: #f8f8f8;
    color: #FD5200;
    border-left: none;
    padding: .5em 1em;
    white-space: nowrap;
    text-align: left;
    border-right: .5em solid #FD5200;
}

.preload {
    position: absolute;
    z-index: -9999;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
/* LOADER */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: 2em auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FD5200;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  /* RESPONSIVE */

  @media(max-width: 800px) {
      main {
          padding-bottom: 0;
      }
      .grid {
          grid-template-columns: 1fr;
          box-shadow: none;
      }
      .grid .logbox {
          background: none;
      }
      .overlay {
        background: #4d4d4def;
        opacity: 1;
      }
      .stars {
          opacity: 1;
      }
  }

  @media(max-width: 640px) {
      body {
        font-size: 12px;
      }
      header {
        display: block;
        background: #FD5200;
        color: #fff !important;
      }
      header h2 {
        justify-content: center;
      }
      header a, .link, .cap, header h2 {
        color: #fff !important;
      }
      header h3 {
        justify-content: center;
        margin-bottom: 1em !important;
      }
      main {
        padding-top: 4em;
      }
  }