@import url('https://fonts.googleapis.com/css?family=KoHo:400,800');
* {
    box-sizing: border-box;
    /* font-weight: 300; */
    -webkit-font-smoothing: antialiased;
}
body {
    /* background: linear-gradient(to bottom, #93e7e3, #0da4c2); */
    background: linear-gradient(to bottom, #0cebeb 2em, #20e3b2, #29ffc6dd), url('../assets/bg.jpg'); 
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    font-family: 'KoHo', sans-serif;
    font-size: 14pt;
    color: #353533;
    position: relative;
}

button, input[type=text], input[type=password] {
    font-family: 'KoHo', sans-serif;
}

header {
    font-size: .7em;
    display: flex;
    width: 100%;
    /* background: #353533; */
    /* background: #f4f4f4dd; */
    align-items: center;
    color: #444;
    padding: .4em 3em;
    /* box-shadow: 0 1em 2em #0000000f; */
    /* display: none; */
}
header a {
    color: #444;
}
header h3 {
    width: 100%;
    margin: 1em;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}

header h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

main {
    max-width: 1240px;
    margin: 0 auto;
    /* padding: 1em; */
}

.logbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #ffffff3f; */
    padding: 1em 2em;
    max-width: 22.5em;
    width: 100%;
    /* box-shadow: 0 1em 3em #0000000a; */
    text-align: center;
    margin: 0 auto;
}
.logbox h2 {
    margin: 1.25em auto;

}
.inputs {
    padding: 1em;
}

.field {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2em auto;
    border-bottom: 1px solid #214e572f;
    transition: all 200ms ease-out;


}

button {
    /* text-transform: capitalize; */
    font-size: 1em;
    /* background: #2f6f7c; */
    background: #2b2b29dd;
    border-radius: 2em;
    padding: .5em 3em;
    border: none;
    color: #fff;
    transition: background 100ms ease-out;
    margin-top: 2em;
    cursor: pointer;

}

button:focus {
    outline: none;
}
button:hover {
    /* background: #214e57; */
    background: #2b2b29;

}
input[type=text], input[type=password] {
    font-size: 1em;
    padding: .5em 1em;
    background: none;
    border: none;
    color: #000;
    transition: all 200ms ease-out;

}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

.field:hover {
    border-bottom: 1px solid #214e57af;

}
::placeholder {
    color: #666766;
}

footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #353533;
    color: #fff;
    font-size: .6em;
    padding: .2em;
    
}
footer h2 {
    max-width: 1024px;
    margin: 0 auto;
}

.logbox a {
    color: #000;
}

.error {
    max-width: 17em;
	position: relative;
    /* border: 1px solid #dd2f2f; */
    /* background: #0000005f; */
    color: #333;
    /* border-radius: .2em; */
    /* right: -10px; */
    /* padding: .2em; */
    margin: 0 auto .5em auto;
}

.error .fas {
    position: absolute;;
    top: 50%;
    left: .5em;
    transform: translateY(-50%);
}
.redir {
    text-align: center;
}
/* LOADER */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #2b2b29;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  